.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 627px) {
  .content {
    padding: 0;
  }
}

@media screen and (max-width: 1336px) {
  .content {
    padding: 0;
  }
}
